.list {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: darkgray;
    font-style: italic;
}

.item {
    margin-bottom: 8px;
    font-size: 18px;
}

.item:last-child {
    margin-bottom: 0px;
}